@font-face {
  font-family: "norsebold";
  src:
    url("./fonts/norse-bold-webfont.woff2") format("woff2"),
    url("./fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  --border-form: #8d9fa6;
  --bg-color: #b88d6e;
  --bg-form-sec: #bbd1dd;
}

body {
  display: flex;
  height: 100vh;

  margin: 0;
  padding: 0 15%;

  background-color: var(--bg-color);

  font-family: "Roboto", sans-serif;
}

.imageSection {
  flex: 1 1 0;

  background-image: url("./img/shirtless-man-practicing-capoeira-by-himself-beach.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 2px solid var(--border-form);
  border-left: 2px solid var(--border-form);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageSection > h1 {
  text-align: center;

  background-color: var(--bg-color);
  font-family: norsebold, sans-serif;
  font-size: 5rem;

  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
}

.attribution {
  text-align: center;
  padding: 1rem;
}

.formSection {
  flex: 2 2 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--bg-form-sec);
  border-right: 2px solid var(--border-form);
}

.formSection > * {
  padding-left: 2rem;
}

.formSection form {
  background-color: #a0c9d9;
  border-top: 2px solid var(--border-form);
  border-bottom: 2px solid var(--border-form);

  padding: 1rem 2rem;
}

ul,
ul > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul > li {
  width: 50%;
  height: 2rem;
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul > li > label {
  font-weight: 700;
}

ul > li > input {
  margin-right: 2em;

  border-style: solid;
  border-color: var(--border-form);

  font-size: 1rem;
}

button[type="submit"] {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;

  border-radius: 1rem;
  border: 2px solid var(--border-form);
  background-color: var(--bg-form-sec);
  font-size: 1rem;
  font-weight: bold;
}

.formSection > p > a {
  text-decoration: none;
  color: black;

  font-weight: bold;
}
